---
import { TextSection } from '@components/theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

---

<Layout>
	<HeroSection split={false}>
		<div slot="text-container">
			<h1 class="full-title">About The Genesee Ewery</h1>
		</div>
	</HeroSection>
  <picture>
    <img
      src="/img/switchgrass.jpg"
      alt="Switchgrass field"
      id="home-hero-image"
    />
  </picture>
  <TextSection narrow>
    The Genesee Ewe-ery is located on 24 acres on the west bank of the Genesee River in Scottsville NY. We have all the things sheep need to grow: good soil, good precipitation, good cool season grasses. Our goal is to take the assets provided by our land, the sun and air and improve them year by year in an environmentally mindful way.

    Sheep are an important part of our circle of life. The sun provides the energy which is captured and manufactured into sugars by our grasses and forbs. The soil gives up its minerals and nutrients. The air provides nitrogen, carbon and oxygen which are also captured by our grasses and served on a buffet. All these are harvested by our sheep and returned to the soil.

    Every year a few of these sheep are harvested and provided to the local markets for sale.
  </TextSection>
</Layout>

<style>
  h1.full-title {
    grid-column: span 2;
  }

  img {
    margin: 0 auto;
  }
</style>
