---
import { Container} from '@components/theme.js';
---

	<section class="hero-section__section">
		<div class="hero-section__text">
				<picture>
					<img
						src="/img/whitehouse.png"
						alt="Genesee Ewery"
						id="home-hero-image"
					/>
				</picture>
				<h1>Barbados Blackbelly Sheep</h1>
			</div>
			<p>grass fed lamb grown for Rochester NY</p>
	</section>

<style>
	.hero-section__section {
		background: #222;
		color: #f1f1f1;
	}
	.hero-section__text {
		h1 {
			margin: 0;
		}
		padding: 16px;
		display: flex;
		gap: 16px;
		align-items: center;
	}
	.hero-section__text ~ p {
		margin-left: 80px;
	}
</style>
